node_modules
/VirtualBox VMs
/Videos
/Tracing
/TPCALIF.cbl
/source
/Searches
/Saved Games
/Pictures
/PERFORM-RUTINA.cbl
/package.json
/package-lock.json
/OpenCobolIDE
/OneDrive
/ntuser.ini
/NTUSER.DAT{0fc176c1-c68f-11ed-ab57-ca5d5e87bb5b}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{0fc176c1-c68f-11ed-ab57-ca5d5e87bb5b}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{0fc176c1-c68f-11ed-ab57-ca5d5e87bb5b}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/Music
/Links
/IntelGraphicsProfiles
/importe.cbl
/IF-ELSE.cbl
/IdeaProjects
/GO-TO.cbl
/Favorites
/examen.cbl
/edb_psqlodbc.exe-20220616094115
/edb_psqlodbc.exe
/edb_pgjdbc.exe
/edb_npgsql.exe
/eclipse-workspace
/eclipse
/Downloads
/Documents
/Contacts
/compute.cbl
/COMP3.cbl
/CALCULOS-REPETITIVOS.cbl
/caca.txt
/bin
/AppData
/3D Objects
/.zowe
/.vscode
/.VirtualBox
/.templateengine
/.ssh
/.quokka
/.p2
/.openjfx
/.nuget
/.node_repl_history
/.m2
/.librarymanager
/.lesshst
/.jdks
/.ionic
/.gradle
/.gitignore
/.gitconfig
/.emulator_console_auth_token
/.eclipse
/.dotnet
/.config
/.cisco
/.cache
/.bash_history
/.arduinoIDE
/.android
/-1.14-windows.xml
